@page "/sharding/Edit/{dbinfo}"

@using AuthPermissions.AspNetCore
@using AuthPermissions.AspNetCore.ShardingServices
@using Example6.MvcWebApp.Sharding.Models
@using Example6.MvcWebApp.Sharding.PermissionsCode


@attribute [HasPermission(Example6Permissions.UpdateDatabaseInfo)]
@inject IGetSetShardingEntries _shardingService

@rendermode InteractiveServer
<FluentIcon Value="@(new Icons.Regular.Size16.ArrowLeft())" Color="Color.Neutral" Slot="start" OnClick="_navServices.GoBack" />
<h3>Edit Database <b>@dbinfo</b> information </h3>

@if (IsLoading == true)
{
    <div style="width: 300px; display: grid; grid-gap: 12px; grid-auto-flow: column;">
        <FluentProgress></FluentProgress>
    </div>
}
<FluentGrid>
      <FluentGridItem xs="8" sm="4">
          <FluentLabel><h6>@Message</h6></FluentLabel>
        <EditForm Model="Input" OnValidSubmit="@OnValidSubmit">

       
            <hr />
             <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField Name="DatabaseName" @bind-Value="Input.DatabaseInfo.DatabaseName" 
                            Required="true" Label="Database Name" Style="width: 100%" />
                
                <FluentSelect Items=@stringOptionsConns
                              Label="Select Connection Name"
                              OptionText="@(i => i.Text)"
                              OptionValue="@(i => i.Value)"
                              OptionSelected="@(i => i.Selected)"
                              @bind-SelectedOption="@selectedOptionsConn"
                              @bind-Value="@stringValueConnNames" />

                <FluentSelect Items=@stringOptionsDbTypes
                              Label="Select Database Type"
                              OptionText="@(i => i.Text)"
                              OptionValue="@(i => i.Value)"
                              OptionSelected="@(i => i.Selected)"
                              @bind-SelectedOption="@selectedOptionsDbType"
                              @bind-Value="@stringValueDbType" />

                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Update</FluentButton>
             </FluentStack>
        </EditForm>
      </FluentGridItem>
</FluentGrid>
@code {
    [Parameter]
    public string? dbinfo { get; set; }
    public string? Message { get; set; } = string.Empty;
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

   

    ShardingEntryEdit Input { get; set; } = new();
    bool? canceled;
    private bool IsLoading = false;

    List<Option<string>>? stringOptionsConns = new();
    List<string>? ConnNames = new List<string>();
    string stringValueConnNames;
    Option<string> selectedOptionsConn = default!;

    List<Option<string>>? stringOptionsDbTypes = new();
    List<string>? DbType = new List<string>();
    string stringValueDbType;
    Option<string> selectedOptionsDbType = default!;

    protected override async Task OnInitializedAsync()
    {
        ReturnUrl = "sharding/list";
        Input = new ShardingEntryEdit
            {
                DatabaseInfo = _shardingService.GetSingleShardingEntry(dbinfo),
                AllPossibleConnectionNames = _shardingService.GetConnectionStringNames(),
                PossibleDatabaseTypes = _shardingService.PossibleDatabaseProviders
            };

        if(Input.DatabaseInfo == null)
        {
            Message = $"Could not find a sharding entry with the name {dbinfo}.";
        }

        var conns = Input.AllPossibleConnectionNames;
        string connName = Input.DatabaseInfo.ConnectionName;

        foreach (var item in conns)
        {
            stringOptionsConns?.Add(new Option<string>
                {
                    Value = item,
                    Text = item,
                    Selected = (item == connName)
                });
        }

        var DbTypes = Input.PossibleDatabaseTypes;
        string dbtypeName = Input.DatabaseInfo.DatabaseType;

        foreach (var item in DbTypes)
        {
            stringOptionsDbTypes?.Add(new Option<string>
                {
                    Value = item,
                    Text = item,
                    Selected = (item == dbtypeName)
                });
        }

    }
    public async Task OnValidSubmit(EditContext editContext)
    {
        if (string.IsNullOrEmpty(stringValueConnNames))
        {
            Message = "Please select one Connection.";
            return;
        }
        if (string.IsNullOrEmpty(stringValueDbType))
        {
            Message = "Please select one database type.";
            return;
        }
        var status = _shardingService.UpdateShardingEntry(Input.DatabaseInfo);
        if (status.HasErrors)
        {
            Message = status.GetAllErrors();
            return;
        }

        _navman.NavigateTo(ReturnUrl);
    }
   
}
